{{ if .Site.Params.contact.enable }}
	<section id="contact-us">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="block">
	                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ with .Site.Params.contact.title }} {{ . | safeHTML }} {{ end }}</h1>
	                    <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">{{ with .Site.Params.contact.subtitle }} {{ . }} {{ end }}</h3>
	                    <form id="contact_form" netlify method="POST" netlify-honeypot="bot-field" data-netlify="true">
							<p class="hidden">
							  <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
							</p>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
	                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sem napište své jméno...">
	                        </div>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
	                            <input type="text" class="form-control" placeholder="Sem napište emailovou adresu...">
	                        </div>
	                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
	                            <textarea class="form-control" rows="3" placeholder="Sem napište svou zprávu"></textarea>
	                        </div>
	                    </form>
	                    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button" onclick="document.getElementById('contact_form').submit();">Poslat zprávu</a>
	                </div>
	            </div><!-- .col-md-12 close -->
	        </div><!-- .row close -->
	    </div><!-- .container close -->
	</section><!-- #contact-us close -->
{{end}}